body{
  background-image: url('../assets/background.png');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Barlow', sans-serif;
  z-index: 0;
}

.menubtn {
  position: fixed;
  opacity: 0;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 100;
}

.custombtn {
  position: fixed;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  z-index: 2;
  background: gray;
}

.menupanel {
  position: absolute;
  top: 0;
  left: -50%;
  background-color: white;
  width: 250px;
  height: 100vh;
  opacity: 0;
  z-index: 1;
  transition: 0.5s all linear;
}

.menubtn:checked ~ .menupanel {
  left: 0%;
  opacity: 0.25;
}

#heading {
  display: inline-block;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0 3px 10px black;
  height: 50px;
  width: 100%;
  margin-top: 100px;
  color: black;
}

.links {
  display: block;
  width: 500px;
  height: auto;
  border-style: none;
  border-radius: 5px;
  border-width: 1px;
  padding: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

a {
  font-size: 20px;
  display: inherit;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

a:hover {
  font-weight: bold;
  text-shadow: 0 2px 5px gray;
}
